
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #7b95d0;
  background-color: #b5d6f8;

body {
  background-color: rgb(39, 136, 197);
}
#content
{
margin: 10px;
padding: 10px;
border: solid 1px #888;
background-color: #7da3e9;
background-color: #c5a9f0;
}